<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Pomodoro Timer</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.5.9/css/uikit.min.css"/>
        <link href="css/styles.css" rel="stylesheet">
    </head>
    <body>
        
        <div class = "uk-container">
            <!--Header-->
            <h1 class="uk-text-center">Pomodoro App</h1>
            <!-- Timer-->
                <div class="uk-grid-collapse uk-child-width-expand@s uk-text-center uk-margin-large-top" uk-grid>
                    <div>
                        <div class="uk-background-muted uk-padding">Item</div>
                    </div>
                    <div>
                        <div class="uk-background-primary uk-padding uk-light uk-width-1-3@m">Item</div>
                    </div>
                    <div>
                        <div class="uk-background-secondary uk-padding uk-light">Item</div>
                    </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.5.9/js/uikit.min.js" 
                integrity="sha512-OZ9Sq7ecGckkqgxa8t/415BRNoz2GIInOsu8Qjj99r9IlBCq2XJlm9T9z//D4W1lrl+xCdXzq0EYfMo8DZJ+KA==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.5.9/js/uikit-icons.min.js" 
                integrity="sha512-hcz3GoZLfjU/z1OyArGvM1dVgrzpWcU3jnYaC6klc2gdy9HxrFkmoWmcUYbraeS+V/GWSgfv6upr9ff4RVyQPw==" crossorigin="anonymous"></script>
    </body>
</html>