<!DOCTYPE html>
<html lang="en" style="background-color: tomato;">
    <head>
        <title>Pomodoro Timer</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.5.9/css/uikit.min.css"/>
        <link href="css/styles.css" rel="stylesheet">
    </head>
    <body>
        <div class = "uk-container">
            <!--Header-->
            <h1 class="uk-text-center">Pomodoro App</h1>
            <!-- Timer-->
            <div class = "uk-container">
                <div class=" uk-position-medium uk-position-center uk-text-center uk-margin-large-top" uk-grid>
                    <div>
                        <div class="uk-background-secondary uk-padding uk-light" id="timer">25:00</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start and restart-->
        <div class = "uk-container">
            <button class="uk-button uk-button-secondary" onclick="startTimer()">Play</button>
            <button class="uk-button uk-button-secondary" onclick="restartTimer()">Restart</button>
        </div>
        <script type=text/javascript src="{{
            url_for('static', filename='jquery.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.5.9/js/uikit.min.js" 
                integrity="sha512-OZ9Sq7ecGckkqgxa8t/415BRNoz2GIInOsu8Qjj99r9IlBCq2XJlm9T9z//D4W1lrl+xCdXzq0EYfMo8DZJ+KA==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.5.9/js/uikit-icons.min.js" 
                integrity="sha512-hcz3GoZLfjU/z1OyArGvM1dVgrzpWcU3jnYaC6klc2gdy9HxrFkmoWmcUYbraeS+V/GWSgfv6upr9ff4RVyQPw==" crossorigin="anonymous"></script>

        <script type="application/javascript">
            var isOn = false;
            const timerElement = document.getElementById("timer");
            let timerCounter;
            var quitTimer = false;

            var regular = 10; //25 mins
            var shortPause = 300; //5 mins
            var longPause = 1200; //20 mins
            var maxTime = regular;

            function restartTimer() {
                isOn = false;
                timerElement.innerHTML = "25:00";
                timerCounter = maxTime;
                console.log("Restart");
                quitTimer = true;
            }
            function startTimer(){
                if (isOn || quitTimer) {
                    isOn = false;
                    quitTimer = false;
                    return;
                }
                isOn = true;
                timerCounter = maxTime;

                const interval = setInterval(() => {
                    if (quitTimer) {
                        return;
                    }
                    if (timerCounter <= 0) {
                        clearInterval(interval);
                        if (maxTime == regular) { //end of regular -> either short pause or long pause
                            maxTime = shortPause;
                        } else if (maxTime == shortPause) { //end of short pause -> back to regular
                            maxTime = regular;
                        } else if (maxTime == longPause) { //end of long pause -> back to regular
                            maxTime = regular;
                        }
                        timerCounter = maxTime;
                    }

                    console.log(timerCounter);

                    timerCounter = timerCounter - 1;

                    var minutes = Math.floor(timerCounter/60);
                    var seconds = timerCounter%60;

                    if (seconds < 10){
                        timerElement.innerHTML = minutes + ":0" + seconds;
                    }
                    else{
                        timerElement.innerHTML = minutes + ":" + seconds;
                    }
                }, 1000);
            }
        </script>
    </body>
</html>