<!DOCTYPE html>
<html lang="en" style="background-color: tomato;">
    <head>
        <title>Pomodoro Timer</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.5.9/css/uikit.min.css"/>
        <link href="css/styles.css" rel="stylesheet">
    </head>
    <body style = "background-color: cornsilk;">
        <div class = "uk-container">
            <!--Header-->
            <h1 class="uk-text-center"style = "position:relative; top:30px; ">Pomodoro App</h1>
            <!-- Timer-->
            <div class = "uk-container">
                <div class=" uk-position-medium uk-position-center uk-text-center uk-margin-large-top" uk-grid>
                    <div>
                        <div class="uk-background-secondary uk-padding uk-padding-remove-bottom uk-light uk-text-large" id="timer" style="font-size: 100px; position:relative; top:-70px;right:20px">25:00</div>
                        <div class="uk-background-secondary uk-padding-small uk-padding-remove-top uk-light uk-text-small" id="state" style="font-size: 50px; position:relative; top:-70px;right:20px">Work</div>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- Start and restart-->
        <div class = "uk-container uk-container-small" style = "position:relative; left:346px; top:525px; ">
            <button class="uk-button uk-button-secondary " onclick="startTimer()" id = "play_button" >Play</button>
            <button class="uk-button uk-button-secondary" onclick="restartTimer()">Restart</button>
        </div>

        <div class = "uk-container" style = "position:relative; left:0px; top:550px;">
            <progress id="js-progressbar" class="uk-progress" value="0" max="1500" ></progress>
        </div>

        <script type=text/javascript src="{{
            url_for('static', filename='jquery.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.5.9/js/uikit.min.js" 
                integrity="sha512-OZ9Sq7ecGckkqgxa8t/415BRNoz2GIInOsu8Qjj99r9IlBCq2XJlm9T9z//D4W1lrl+xCdXzq0EYfMo8DZJ+KA==" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.5.9/js/uikit-icons.min.js" 
                integrity="sha512-hcz3GoZLfjU/z1OyArGvM1dVgrzpWcU3jnYaC6klc2gdy9HxrFkmoWmcUYbraeS+V/GWSgfv6upr9ff4RVyQPw==" crossorigin="anonymous"></script>


        <script type="application/javascript">
            var isOn = false;
            var bar = document.getElementById('js-progressbar');
            const timerElement = document.getElementById("timer");
            const playbutton = document.getElementById("play_button");
            var stateElement = document.getElementById("state");
            let timerCounter;
            var quitTimer = false;
            var shortPauseCount = 0;

            var regular = 1500; //25 mins
            var shortPause = 300; //5 mins
            var longPause = 1200; //20 mins
            var maxTime = regular;

            function restartTimer() {
                isOn = false;
                timerElement.innerHTML = "25:00";
                stateElement.innerHTML = "Work";
                timerCounter = maxTime;
                console.log("Restart");
                quitTimer = true;
                playbutton.disabled= false;
                bar.value =0; 
            } 
            function startTimer(){
                playbutton.disabled = true;
                if (isOn || quitTimer) {
                    isOn = false;
                    quitTimer = false;
                    return;
                }
                isOn = true;
                timerCounter = maxTime;

                const interval = setInterval(() => {
                    if (quitTimer) {
                        return;
                    }
                    if (timerCounter <= 0) {
                        if (maxTime == regular) { //end of regular -> either short pause or long pause
                            if (shortPauseCount == 4) {
                                stateElement.innerHTML = "Long Break";
                                maxTime = longPause;
                                shortPauseCount = 0;
                            } else {
                                stateElement.innerHTML = "Short Break";
                                maxTime = shortPause;
                                shortPauseCount++;
                            }
                        } else if (maxTime == shortPause) { //end of short pause -> back to regular
                            stateElement.innerHTML = "Work";
                            maxTime = regular;
                        } else if (maxTime == longPause) { //end of long pause -> back to regular
                            stateElement.innerHTML = "Work"
                            maxTime = regular;
                        }
                        timerCounter = maxTime;
                        bar.max = maxTime;
                        bar.value =0; 
                    }

                    console.log(timerCounter);
                    bar.value +=1; 
                    timerCounter = timerCounter - 1;

                    var minutes = Math.floor(timerCounter/60);
                    var seconds = timerCounter%60;

                    if (seconds < 10){
                        timerElement.innerHTML = minutes + ":0" + seconds;
                    }
                    else{
                        timerElement.innerHTML = minutes + ":" + seconds;
                    }
                }, 1000);
            }
        </script>
    </body>
</html>